@font-face {
    font-family: 'Netflix Font';
    src: url('./BebasNeue-Regular.ttf');
}

html,
body {
    /* font-family: 'Netflix Font' !important; */
    font-family: 'Arial' !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #141414;
}


/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    margin-top: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #303030;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}